<div class="container" data-ng-controller="headerCtrl">
    <div class="navbar-header">
        <a href="/#!/" class="navbar-brand">MEAN Bastard Innovations</a>
    </div>
    <nav role="navigation">
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="#!">
                    <span>Home</span>
                </a>
            </li>

            <li>
                <a href="#!">
                    <span>About MBI</span>
                </a>
            </li>
            <li>
                <a href="#!">
                    <span>Portfolio</span>
                </a>
            </li>
        </ul>
    </nav>
</div>