<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
                <a href="" data-ui-sref="{{menu.brandMenuItem.sref}}" class="navbar-brand" data-ng-bind="menu.brandMenuItem.title"></a>
        </div>
        <nav role="navigation">
            <ul class="nav navbar-nav">
                <li data-ng-class="{active: menu.isActive(menuItem.sref)}" data-ng-repeat="menuItem in menu.navigationItems">
                    <a href="" data-ui-sref="{{menuItem.sref}}">
                         <span data-ng-bind="menuItem.title"></span>
                    </a>
                </li>
            </ul>
            <div class="navbar-right">
                <div class="nav navbar-nav">
                    <div class="btn-group">
                        <button type="button" class="btn btn-warning navbar-btn dropdown-toggle">
                            Change theme
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li data-ng-repeat="themeItem in theme.themes" data-ng-class="{'active': theme.isThemeNameSelected(themeItem.name) }">
                                <a href="" data-ng-click="theme.setTheme(themeItem)" data-ng-bind="themeItem.name"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</nav>